$border: 3px solid #ccc;
$winner: #4caf50;
$winner-comp: #ef5350;

body {
        background-color: #e0e0e0;
    .container{
        max-width: 500px;
    }
    .spel{
    background-color: #eeeeee;
        padding: 15px;
    }
    .title{
        padding: 50px 0px;
    }
    #choose{
        // max-width: 500px;
    }
    #game {
        width: 150px;
        .game-pad {
            width: 50px;
            height: 50px;
            font-size: xx-large;
            &:hover{
                cursor: pointer;
            }
        }
        .winner{
            background-color: $winner;
        }
        .winner-comp{
            background-color: $winner-comp;
        }
        #one, #two, #four, #five, #seven, #eight{
            border-right: $border;
        }
        #four, #five, #six, #seven, #eight, #nine{
            border-top: $border;
        }
        
    }
}
